<mat-card>Instituciones Públicas de Educación Superior</mat-card>
<mat-tab-group>
    <mat-tab label="2008"> 
        <div class="table-responsive">
            <table id="customers">
            <thead>
              <tr>
                  <th>Titulo</th>
                  <th>Monto</th>
                  <th>Avance</th>
                  <th>Año</th>
                  <th>Categoria</th>
                  <th>Ejecutor</th>
                  <th>Resultado</th>
                  <th>Detalles</th>
                  <th>Mayor información</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Construcción, Mantenimiento y Remodelación de la Benemérita Universidad Autónoma de Puebla</td>
                <td>$155,939.6 </td>
                <td>100%</td>
                <td>2012</td>
                <td>Instituciones Públicas y Educación Superior. </td>
                <td>Benemérita Universidad Autónoma de Puebla  </td>
                <td>Operando </td>
                <td>En el transcurso de la revisión se recuperaron recursos por 4,164.4 miles de pesos, con motivo de la intervención de la ASF.</td>
                <button><td><mat-icon>send</mat-icon> </td></button>
              </tr>
            </tbody>
          </table>
          </div>
    </mat-tab>
  </mat-tab-group>