.mat-button-toggle-group  {
    width: 33%;
   }
   .mat-button-toggle {
       width: 100%;
      }

   img {
       border: 0px solid #ddd;
       border-radius: 10px;
       padding: 5px;
       width: 400px;
   }
   

   /* resize images */
   .container img {
       width: 98%;
       height: 400px;
       background-size: 100% 100%;
   }



   .btn-group button {
        display: inline-block;
       background-color: rgb(44, 44, 170); 
       border: 1px solid rgb(44, 44, 170); 
       font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
       color: white; /* White text */
       padding: 10px 24px; /* Some padding */
       cursor: pointer; /* Pointer/hand icon */
       float: left; /* Float the buttons side by side */
   }
   
   /* Clear floats (clearfix hack) */
   .btn-group:after {
       content: "";
       clear: both;
       display: table;
   }
   
   .btn-group button:not(:last-child) {
       border-right: none; /* Prevent double borders */
   }
   
   /* Add a background color on hover */
   .btn-group button:hover {
       background-color: rgb(53, 53, 219);
   }