<!DOCTYPE metacharset=UTF-8> 
<mat-card>Inicio</mat-card>
<mat-grid-list cols="1" rowHeight="4:1" gutterSize="1px">
        <mat-grid-tile>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;¿Qué es transparencia?<br>
                Es el deber de todo Gobierno de informar, dar cuentas y poner <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;a disposición de sus ciudadanos la información pública.
                </mat-grid-tile><br><br>
            </mat-grid-list>
        <mat-grid-list cols="1" rowHeight="3:1" gutterSize="1px">
        <mat-grid-tile>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;¿Qué son los datos abiertos?<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;De acuerdo al artículo 7 de la Ley de transparencia y acceso a la información <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;pública del Estado de Puebla se define como: Los datos digitales de carácter <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;público que son accesibles en línea que pueden ser usados, reutilizados y<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;redistribuidos por cualquier interesado y que tienen las siguientes características:<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;a) Accesibles<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;b) Integrales<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;c) Gratuitos<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;d) No Discriminatorios<br> 
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;e) Oportunos<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;f) Permanentes<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;g) Primarios<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;h) Legibles por Máquinas<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;i) En Formatos Abiertos<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;j) De Libre Uso</mat-grid-tile>
                <br><br>
            </mat-grid-list>
            <mat-grid-list cols="1" rowHeight="4:1" gutterSize="1px">
      <mat-grid-tile>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;RAZÓN DE SER:<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Con base en el artículo 6 párrafo segundo de la Constitución Política de los Estados Unidos Mexicanos,<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; en donde se establece que, toda persona tiene derecho al libre acceso a información plural y oportuna, <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; así como a buscar, recibir y difundir información e ideas de toda índole por cualquier medio de<br> 
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;información accesible expresión. Se planteó este proyecto, con la finalidad de brindarle a los ciudadanos una fuente de <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; que contenga datos de interés con respecto a las obras públicas realizadas por el gobierno del Estado de Puebla, <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; así como darles empoderamiento y capacidad de evaluar dichas obras a través del portal, buscando una relación <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;más directa entre el gobierno y los ciudadanos.
                </mat-grid-tile><br><br></mat-grid-list>
                <mat-grid-list cols="1" rowHeight="5:1" gutterSize="1px">
                <mat-grid-tile>¿QUIÉNES SOMOS?<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Somos una plataforma web que busca garantizar el cumplimiento del derecho al acceso a la información pública,<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;así como revisar, procesar, evaluar y llevar un seguimiento de los recursos públicos determinados a obras<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;publicas conforme a las disposiciones legales sin importar que autoridad, institución, persona física o moral <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;este detrás del proceso.
                </mat-grid-tile><br><br>
      </mat-grid-list>
      