<mat-card>Ciencia y Tecnología</mat-card>
<mat-tab-group>
    <mat-tab label="2006"> 
        <div class="table-responsive">
            <table id="customers">
            <thead>
              <tr>
                  <th>Titulo</th>
                  <th>Monto</th>
                  <th>Avance</th>
                  <th>Año</th>
                  <th>Categoria</th>
                  <th>Ejecutor</th>
                  <th>Resultado</th>
                  <th>Detalles</th>
                  <th> Mayor información</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Egresos Presupuestales del Capítulo 6000 "Obras Públicas", Proyecto Gran Telescopio Milimétrico, en el Estado de Puebla</td>
                <td>$2,781,099.8 </td>
                <td>100%</td>
                <td>2006</td>
                <td>Ciencia y Tecnología  </td>
                <td>Instituto Nacional de Astrofísica, Óptica y Electrónica. </td>
                <td>Operando </td>
                <td>Como resultado de las 3 auditorías en materia de conservación, uso, destino, afectación, enajenación y baja de bienes muebles, los OIC determinaron 9 observaciones, de las cuales 5 (55.6%) fueron solventadas al 31 de diciembre de 2006, y 4 (44.4%), emitidas a la Secretaría del Trabajo y Previsión Social, quedaron pendientes de solventar a esa fecha.</td>
                <button><td><mat-icon>send</mat-icon> </td></button>
              </tr>
            </tbody>
          </table>
          </div>
    </mat-tab>
    <mat-tab label="2007"> 
        <div class="table-responsive">
            <table id="customers">
            <thead>
              <tr>
                <th>Titulo</th>
                <th>Monto</th>
                <th>Avance</th>
                <th>Año</th>
                <th>Categoria</th>
                <th>Ejecutor</th>
                <th>Resultado</th>
                <th>Detalles</th>
                <th> Mayor información</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Integración de 180 Segmentos del Reflector Primario del Gran Telescopio Milimétrico de Acuerdo a la Fase F1.1, en el Estado de Puebla</td>
                    <td>$1,272,152.3  </td>
                    <td>100%</td>
                    <td>2007</td>
                    <td>Ciencia y Tecnología</td>
                    <td>Instituto Nacional de Astrofísica, Óptica y Electrónica </td>
                    <td>Operando </td>
                    <td>El presupuesto original autorizado en la partida “Transferencias para la Adquisición de Bienes Muebles” fue de 182,670.0 miles de pesos, el cual se modificó a 1,272,152.3 miles de pesos. Respecto de la diferencia por 2,272.4 miles de pesos, se comprobó que fueron reintegrados a la Tesorería de la Federación.</td>
                    <button><td><mat-icon>send</mat-icon> </td></button>
                  </tr>              
            </tbody>
          </table>
          </div>
  </mat-tab>
  <mat-tab label="2010"> 
      <div class="table-responsive">
          <table id="customers">
          <thead>
            <tr>
              <th>Titulo</th>
              <th>Monto</th>
              <th>Avance</th>
              <th>Año</th>
              <th>Categoria</th>
              <th>Ejecutor</th>
              <th>Resultado</th>
              <th>Detalles</th>
              <th>Mayor información </th>
            </tr>
          </thead>
          <tbody>
              <tr>
                  <td>Gran Telescopio Milimétrico, en el Estado de Puebla/td>
                  <td>$39,792.3 </td>
                  <td>100%</td>
                  <td>2010</td>
                  <td>Ciencia y Tecnología</td>
                  <td>Instituto Nacional de Astrofísica, Óptica y Electrónica </td>
                  <td>Operando </td>
                  <td>Personal poco capacitado para operar el equipo e inexistencia de las pólizas de seguro que garanticen la integridad de los bienes.</td>
                  <button mat-button routerLink="/categorias">Auditorías</button>
                  <button><td><mat-icon>send</mat-icon> </td></button>
                </tr>              
          </tbody>
        </table>
        </div>
</mat-tab>
  </mat-tab-group>