  <mat-card >Auditorias</mat-card>
  <div class="hot-container">
        <!--<p>-->
            <a href="/educacion" class="btn"><img src="/images/educación.png"/><br>Educación</a>
            <a href="/salud" class="btn btn-blue"><img src="/images/salud_icono.png"/><br>Salud</a>
      
        <p>
            <a href="/ciencia" class="btn btn-blue"><img src="/images/Quimica.png"/><br>Ciencia y Tecnología</a>
            <a href="/hacienda" class="btn btn-green"><img src="/images/hacienda_y_credito.2.png"/><br>Hacienda y Crédito Público</a>
        </p>
        <p>
                <a href="/comunicaciones" class="btn "><img src="/images/que_es_pmus_iconos-09.png"/><br>Comunicaciones y Transportes</a>           
                <a href="/instituciones" class="btn btn-blue"><img src="/images/institution-icon.png"/><br>Instituciones de educacion superior</a>
            </p>
            <br>
            <br>
            <br>
        </div>

