<mat-card>Salud</mat-card>

<mat-tab-group>
  <mat-tab label="2008"> 
      <div class="table-responsive">
          <table id="customers">
          <thead>
            <tr>
                <th>Titulo</th>
                <th>Monto</th>
                <th>Avance</th>
                <th>Año</th>
                <th>Categoria</th>
                <th>Ejecutor</th>
                <th>Resultado</th>
                <th>Detalles</th>
                <th>Mayor información</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Hospital General de Zona 186 Camas, La Margarita, en el Estado de Puebla</td>
              <td>$120341.4 </td>
              <td>100%</td>
              <td>2008</td>
              <td>Seguridad Social </td>
              <td>Instituto Mexicano del Seguro Social </td>
              <td>Sin operar </td>
              <td>La presupuestación, licitación y contratación de las obras se realizo y se ajusto a las previsiones de recursos autorizados.</td>
              <button><td><mat-icon>send</mat-icon> </td></button>
            </tr>
            <tr>
                <td>Hospital General de Zona No. 5, Metepec, Atlixco, Puebla</td>
                <td>$4,630.9  </td>
                <td>100%</td>
                <td>2008</td>
                <td>Seguridad Social </td>
                <td>Instituto Mexicano del Seguro Social </td>
                <td>Operando </td>
                <td>El ejecutor realizo un pago en exceso debido a diferencias entre los volúmenes de obra pagados y los ejecutados.</td>
                <button><td><mat-icon>send</mat-icon> </td></button>
              </tr>
          </tbody>
        </table>
        </div>
  </mat-tab>
  <mat-tab label="2009"> 
      <div class="table-responsive">
          <table id="customers">
          <thead>
            <tr>
              <th>Titulo</th>
              <th>Monto</th>
              <th>Avance</th>
              <th>Año</th>
              <th>Categoria</th>
              <th>Ejecutor</th>
              <th>Resultado</th>
              <th>Detalles</th>
              <th> </th>
            </tr>
          </thead>
          <tbody>
              <tr>
                  <td>Hospital Rural 30 Camas, en Ixtepec, en el Estado de Puebla</td>
                  <td>$97, 203.2 </td>
                  <td>100%</td>
                  <td>2009</td>
                  <td>Seguridad Social </td>
                  <td>Instituto Mexicano del Seguro Social </td>
                  <td>Sin operar </td>
                  <td>No se consideraron aspectos físicos- geográficos, condiciones del sitio, el entorno inmobiliario y de infraestructura existentes. </td>
                  <button><td><mat-icon>send</mat-icon> </td></button>
                </tr>
          </tbody>
        </table>
        </div>
</mat-tab>
</mat-tab-group>
